<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>

<wicket:panel xmlns:wicket="http://wicket.apache.org">

    <div class="tabbable tabs-left">
        <ul  class="nav nav-tabs">
            <li wicket:id="menu"><a wicket:id="link" ><span wicket:id="linkLabel"></span></a></li>
        </ul>
        <div wicket:id="contentContainer" class="tab-content">
            <div wicket:id="content"></div>
        </div>
    </div>


</wicket:panel>

</body>
</html>