<wicket:panel>

    <wicket:child/>
    <wicket:enclosure child="applicable">
        <div class="action_form">
            <span wicket:id="applicable" >
                <button class="btn" wicket:id="link"  value="Challange"><span wicket:id="label"></span></button>
            </span>
        </div>
    </wicket:enclosure>
        <br>
    <h6>Competition participants</h6>
    <table class="standard-table">
        <tr wicket:id="participants">
            <td><span wicket:id="label"></span>
            </td>
            <td><button class="btn" wicket:id="challangeLink" value="Challange">Challange</button>
            </td>
        </tr>
    </table>

    <div wicket:id="feedback"/>

    <div wicket:id="g"></div>
    <!--div wicket:id="grid"></div>

    <div wicket:id="currentSelection"></div-->
</wicket:panel>