<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>


    </title>
</head>
<body>
<wicket:panel>


    <h4>Overview</h4>
    <br>
    <br>
    <h5>Open Games</h5>
    <hr>
    <div class="alert alert-warning"  wicket:id="challangePanel">
        <table>
            <tr wicket:id="challanges">
                <td><a wicket:id="play">play</a></td>
            </tr>
        </table>
    </div>
    <h5>Last results</h5>
    <hr>
    <div wicket:id="lastGames">
        <div wicket:id="item"></div>
    </div>

</wicket:panel>
</body>
</html>