<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<wicket:panel>
<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1"  id="svg2">
    <defs id="defs4"/>
    <wicket:container wicket:id="it">
        <wicket:container wicket:id="item"></wicket:container>
    </wicket:container>
    <text wicket:id="winnerLbl" xml:space="preserve" class="svg-tour-text-css"/>
    <path wicket:id="winnerPath" class="svg-tour-path-css "/>
</svg>
</wicket:panel>
</body>
</html>