<wicket:panel>

    <wicket:child/>
    <wicket:enclosure child="applicable">
        <div class="action_form">
            <span wicket:id="applicable" >
                <a wicket:id="link"><span wicket:id="label"></span></a>
            </span>
        </div>
    </wicket:enclosure>
        <br>
    <span class="header3">Ladder participants</span>
    <table class="standard-table">
        <tr wicket:id="participants">
            <td><span wicket:id="label"></span>
            </td>
            <td><a wicket:id="challangeLink">challange</a>
            </td>
        </tr>
    </table>

    <div wicket:id="feedback"/>

    <div wicket:id="g"></div>
    <!--div wicket:id="grid"></div>

    <div wicket:id="currentSelection"></div-->
</wicket:panel>