<wicket:panel>

    <div class="action_form">
    <h6 wicket:id="title"></h6>
    <form wicket:id="theform" class="form-horizontal" >
        Name <input type="text" wicket:id="name"/>
        Form <select wicket:id="formOfCompetition"></select>
        Type <select wicket:id="competitorType"></select>
        Setup <select wicket:id="gameSetupType"></select>

        <button type="button" wicket:id="submit" class="btn" value="Save">Save</button>
        <div wicket:id="feedback"></div>
    </form>
    </div>




</wicket:panel>