<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
    <wicket:panel>


        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Overview</a></li>
                <li><a href="#tab2" data-toggle="tab">Results</a></li>
                <li><a href="#tab2" data-toggle="tab">Misc</a></li>
            </ul>
            <div class="tab-content">

                <h4>blaha</h4>
                <hr>
                Lalala
                <br>
                <br>
                <h4>hoohoo</h4>
                <hr>
                Lalala
                <br>
            </div>
        </div>

    </wicket:panel>

</body>
</html>